name: Build and deploy KoffBot Development Function App to Azure

on:
  push:
    branches:
      - feature/*

jobs:
  build-and-deploy:
    name: Build and deploy KoffBot Dev
    runs-on: ubuntu-latest

    steps:
      - name: "Login via Azure CLI"
        uses: Azure/login@v2
        with:
          creds: "${{ secrets.AZURE_CREDENTIALS_DEV }}"

      - name: "Checkout GitHub Action"
        uses: actions/checkout@v4

      - name: Build and deploy infrastructure
        uses: azure/arm-deploy@v2
        with:
          subscriptionId: dd77e804-594f-4555-b255-ddf980eba6b0
          resourceGroupName: KoffBot-Dev
          template: ./KoffBot/Deployment/koffbot-dev.bicep
          parameters: "keyVaultBaseUrl=https://koffbot-dev-kv.vault.azure.net" 
          failOnStdErr: false

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: "Run .NET Tests"
        run: dotnet test --configuration Release

      - name: "Publish .NET Project"
        run: dotnet publish ./KoffBot/KoffBot.csproj --configuration Release --output ./publish

      - name: "Run Azure Functions Action"
        uses: Azure/functions-action@v1.5.2
        id: fa
        with:
          app-name: koffbot-dev
          package: ./publish
          publish-profile: "${{ secrets.AZURE_PUBLISH_PROFILE_DEV }}"
